# Environment
.env

# Dataset (large binary files)
data/raw/
data/samples/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/

# Notebooks checkpoints
.ipynb_checkpoints/

# Outputs
outputs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
